<table border=1>
<tr>
<th>numshow</th>
<th>nbrseats</th>
<th>dateshow</th>

</tr>

{%for show in show%}
<tr>
   <td>{{show.numshow}}</td> 
   <td>{{show.nbrseat}} </td> 
   <td>{{show.dateshow|date('y-m-d')}}</td>  
  {% endfor %}
  </tr>
